/*Reset ---------------------------------------------------------------------------------------*/
*, html, body{
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

    /* colors */
    --azul-logo: #0C58D3;
    --azul-logo-hover: #7ba0dd;

    --background: #FCFCFC;
    --borda: #D9D9D9;
    --borda-input-focus: #c0bfbf;
    --placeholder: rgba(0, 0, 0, 0.7);
    --button-plus: rgb(0, 0, 0);
    --button-plus-hover: rgb(39, 39, 39);
    --card: rgb(255, 255, 255);
    --card-shadow:rgb(182, 181, 181);
    --linha1: #e6e6e6;
    --linha2: #e9e9e9;
    --linha3: rgb(185, 185, 185);
    --letras: black;

}

button, a{
    cursor: pointer;
}

body{
    background-color: var(--background);
}

/* Header -------------------------------------------------------------------------------------*/

.container{
    max-width: 1000px;
    margin: 0 auto;
    height: 17vh;
}

nav{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Logo */
.logo{
    width: 46px;
    height: 80px;
}

/* Título */
h1 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--azul-logo);
    font-size: 72px;
    font-weight: 700;
} 

i{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
}

/* Botão */
.button-config{
    color: var(--azul-logo);
    font-size: 33px;
}

.button-config:hover{
    color: var(--azul-logo-hover);
}

/* Corpo ------------------------------------------------------------------------------------*/

.corpo{
    max-width: 100vw;
    margin: 0 auto;
    height: 100%;
}

/* -- Caixa de Pesquisa -----------------------------*/
.caixa-pesquisa{
    width: 100%;
    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content:center;
}

/* Input */
input {
    width: 449px;
    height: 40px;
    padding-left: 15px;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    size: 14px;
    border: 1px solid var(--borda);
    box-shadow: var(--borda) 1px 1px 1px 1px;
    border-radius: 14px;
}

input::placeholder{
    font-style: italic;
    color: var(--placeholder);
    font-weight: 500;
}

input:focus { 
    outline: none !important;
    border-color: var(--borda-input-focus);
    box-shadow: 1px 1px 5px var(--borda);
}

/* Botão Plus */
.button-plus{
    background-color: transparent;
    color: var(--button-plus);
    font-size: 40px;
    margin: 15px;
}

.button-plus:hover{
    color: var(--button-plus-hover);
}

/*-- Cards -----------------------------------------*/

.cards{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Card */
.card{
    width: 300px;
    height: 350px;
    background-color: var(--card);
    border: 1px solid var(--borda);
    border-radius: 9px;
    box-shadow: 0px 4px 6px var(--card-shadow);
}


/* Linha */
.linha-item{
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}

.botao-item{
    display: flex;
    justify-content:space-around;
}

h2,p {
    font-style:normal;
    font-family: 'Roboto', sans-serif;
    color: var(--letras);
}

h2{
    font-size: 36px;
    font-weight: 400;
    text-align-last: center;
    margin-top: 16px;
    margin-bottom: 10px;
}

p{
    font-size:14px;
    font-weight: 500;
    line-height: 20px;
    padding-block: 10px;
}

a{
    margin-left: 20px;
}

/* Botões */
.botao-proximo{
    color: #0c58d3ee;
}

.botao-menos{
    color:#ff0000be;
}

.botao-ok{
    color: #00c914c9;

}

.botao-retorno{
    width: 19px;
    padding: 0;
}

/*Linhas separa*/
.hr1{
    border: 0;
	border-top: 2px solid var(--linha1);
    margin-inline: 25px;
    margin-bottom: 21px;
}

.hr2{
    border: 0;
	border-top: 1px solid var(--linha2);
    margin-inline: 25px;
}


/* Modal -------------------------------------------------------------------------------------------------- */

#modal{
    display: none;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 1;
}
#modal #content{
    background-color: var(--card);
    width: 514px;
    margin: 30vh auto;
    padding: 20px;
    z-index: 3;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#modal #content h1{
    font-style: normal;
    font-size: 28px;

    text-align: center;
    margin-bottom: 5px;
    color: var(--letras);
    font-weight: 200;
}

#modal #content p{
    margin-bottom:20px;
    font-weight: 400;
    font-size: 20px;
    padding-top:5px;
}

#modal #content hr{
    border: 0;
	border-top: 2px solid var(--linha3);
    margin-inline: 5px;
    margin-bottom: 30px;
}

.darkmode-alinhamento{
    display: flex;
    justify-content:space-between;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: #E1E1E1;
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: red;
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}